@model List<FinalProject.Core.Application.Models.User.UserModel>
<div class="container mx-auto px-4 py-6">
    <h1 class="text-4xl font-bold mb-6">Our Agents</h1>

    <!-- Search Bar -->
    <div class="mb-6">
        <input type="text" id="agentSearch" class="w-full p-3 border rounded shadow-sm" placeholder="Search agents by name...">
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6" id="agentsList">
        <!-- Agent 1 -->
        @foreach (var agent in Model)
        {
              <a href="@Url.Action("Property", "Agent", new {id = agent.Id} )">
            <div class="property-card bg-white p-4 rounded-lg shadow-lg text-center agent hover:shadow-lg">
                <img src="@Url.Content(agent.ImgProfileUrl)" alt="@agent.FirstName" class="w-32 h-32 mx-auto rounded-full object-cover mb-4">
                <h2 class="text-xl font-semibold">@agent.FirstName  @agent.LastName</h2>
            </div>
        </a>
        }
      
    </div>
</div>

<script src="~/js/agent.js"></script>
